Repository VerisimilitudeX/DNAnalyzer, pull requests merged in 2022-10, with the labels that each got.

#87 Test DNA From GDV
  assets/dna/real/CAMKMT/NM_024766.5/NP_079042.1.fa
Labels: hacktoberfest-accepted, dna-samples

#88 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: dependencies, hacktoberfest-accepted

#92 added Contributing_Guidelines.md file
  Contributing_Guidelines.md
Labels: documentation, hacktoberfest-accepted

#93 Update ProteinFinder.java
  src/DNAnalyzer/ProteinFinder.java
Labels: documentation, hacktoberfest-accepted

#100 resolves #90: added and update java docs
  src/DNAnalyzer/Main.java
  src/DNAnalyzer/Properties.java
  src/DNAnalyzer/ProteinFinder.java
  src/DNAnalyzer/ReadingFrames.java
Labels: documentation, hacktoberfest-accepted

#98 Refactor for Utility classes - Issue #84
  src/DNAnalyzer/CoreExecutor.java
  src/DNAnalyzer/Main.java
  src/DNAnalyzer/Properties.java
  src/DNAnalyzer/ProteinAnalysis.java
Labels: enhancement, hacktoberfest-accepted

#102 Fixed formatting inconsistencies
  src/DNAnalyzer/CoreExecutor.java
  src/DNAnalyzer/Main.java
  src/DNAnalyzer/Properties.java
  src/DNAnalyzer/ProteinFinder.java
  src/DNAnalyzer/ReadingFrames.java
Labels: enhancement, hacktoberfest-accepted

#99 Refactor ProteinFinder.getProtein with many args
  src/DNAnalyzer/AminoAcidMapping.java
  src/DNAnalyzer/CoreExecutor.java
  src/DNAnalyzer/Properties.java
  src/DNAnalyzer/ProteinAnalysis.java
  src/DNAnalyzer/ProteinFinder.java
Labels: enhancement, hacktoberfest-accepted

#113 added min and max count User input at beginning of program.
  src/DNAnalyzer/CoreExecutor.java
Labels: enhancement, hacktoberfest-accepted

#118 Refactor getAminoAcid method with reduced branches
  src/DNAnalyzer/CodonDataConstants.java
  src/DNAnalyzer/CodonDataUtils.java
Labels: enhancement, hacktoberfest-accepted

#127 resolves #68 : updated README.md
  README.md
  assets/demo/demo.mp4
Labels: documentation, hacktoberfest-accepted

#129 Closes #128 : handled infinite loop when file-path is incorrect
  src/DNAnalyzer/CoreExecutor.java
Labels: bug, hacktoberfest-accepted

#123 Switch to picocli
  .vscode/launch.json
  src/DNAnalyzer/CmdArgs.java
  src/DNAnalyzer/CoreExecutor.java
  src/DNAnalyzer/Main.java
  src/picocli/CommandLine.java
Labels: enhancement, hacktoberfest-accepted

#155 Move CoreExecutor code into CmdArgs
  src/DNAnalyzer/CmdArgs.java
  src/DNAnalyzer/CoreExecutor.java
  src/DNAnalyzer/Properties.java
Labels: bug, enhancement, hacktoberfest-accepted

#162 Updates readme to include cli
  README.md
Labels: documentation, hacktoberfest-accepted

#125 Configure Gradle build. Implements #117.
  .gitattributes
  .gitignore
  README.md
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle.kts
  src/main/java/DNAnalyzer/AminoAcidMapping.java
  src/main/java/DNAnalyzer/AminoAcidNames.java
  src/main/java/DNAnalyzer/CmdArgs.java
  src/main/java/DNAnalyzer/CodonDataConstants.java
  src/main/java/DNAnalyzer/CodonDataUtils.java
  src/main/java/DNAnalyzer/CodonFrame.java
  src/main/java/DNAnalyzer/Main.java
  src/main/java/DNAnalyzer/Properties.java
  src/main/java/DNAnalyzer/ProteinAnalysis.java
  src/main/java/DNAnalyzer/ProteinFinder.java
  src/main/java/DNAnalyzer/ReadingFrames.java
  src/main/java/picocli/CommandLine.java
  src/test/java/DNAnalyzer/MainTest.java
Labels: documentation, enhancement, hacktoberfest-accepted

#176 #76 refactor print protein list
  src/main/java/DNAnalyzer/AminoAcid.java
  src/main/java/DNAnalyzer/AminoAcidFactory.java
  src/main/java/DNAnalyzer/Properties.java
Labels: enhancement, hacktoberfest-accepted

#203 Updated padding
  WEB DNAnalyzer/index.html
  WEB DNAnalyzer/index.js
  WEB DNAnalyzer/style.css
Labels: hacktoberfest-accepted

#194 Refactor CodonDataConstants
  src/main/java/DNAnalyzer/CmdArgs.java
  src/main/java/DNAnalyzer/CodonDataConstants.java
Labels: hacktoberfest-accepted

#214 Organize code into folders
  src/main/java/DNAnalyzer/CmdArgs.java
  src/main/java/DNAnalyzer/Properties.java
  src/main/java/DNAnalyzer/ReadingFrames.java
  src/main/java/DNAnalyzer/aminoAcid/AminoAcid.java
  src/main/java/DNAnalyzer/aminoAcid/AminoAcidFactory.java
  src/main/java/DNAnalyzer/aminoAcid/AminoAcidMapping.java
  src/main/java/DNAnalyzer/aminoAcid/AminoAcidNames.java
  src/main/java/DNAnalyzer/codon/CodonDataConstants.java
  src/main/java/DNAnalyzer/codon/CodonDataUtils.java
  src/main/java/DNAnalyzer/codon/CodonFrame.java
  src/main/java/DNAnalyzer/protein/ProteinAnalysis.java
  src/main/java/DNAnalyzer/protein/ProteinFinder.java
Labels: hacktoberfest-accepted

#198 Refactor CmdArgs
  src/main/java/DNAnalyzer/CmdArgs.java
  src/main/java/DNAnalyzer/Dna.java
  src/main/java/DNAnalyzer/DnaAnalyzer.java
Labels: hacktoberfest-accepted

#97 Refactor Properties.isRandomDNA(String) - Issue #73
  src/main/java/DNAnalyzer/Properties.java
Labels: enhancement, hacktoberfest-accepted

#213 Update CodonFrame.java
  src/main/java/DNAnalyzer/Main.java
  src/main/java/DNAnalyzer/codon/CodonFrame.java
Labels: hacktoberfest-accepted

#264 fixed typo in link
  README.md
Labels: documentation, hacktoberfest-accepted

#272 Fix For Broken CodeQL Java Analysis
  .github/workflows/codeql-analysis.yml
  build.gradle
Labels: bug, hacktoberfest-accepted

#282 Adding information about DNA to README
  README.md
Labels: documentation, help wanted, good first issue, hacktoberfest-accepted

#281 'toggle' is never reassigned. Use 'const' instead
  web/about.js
Labels: hacktoberfest-accepted

#285 Condensed code in countBasePairs as to resolve #274
  src/main/java/DNAnalyzer/DNAAnalysis.java
Labels: hacktoberfest-accepted
