Repository VerisimilitudeX/DNAnalyzer, pull requests merged in 2022-11, with the labels that each got.

#290 Issue 252 publish gradle package
  .deepsource.toml
  build.gradle
Labels: hacktoberfest-accepted

#284 #270 Added highCoverageRegions call to CmdArgs
  src/main/java/DNAnalyzer/CmdArgs.java
  src/main/java/DNAnalyzer/DNAAnalysis.java
Labels: enhancement, hacktoberfest-accepted

#278 Refactorings of DNAAnalysis.countBasePairs(String)
  src/main/java/DNAnalyzer/BasePairCounter.java
  src/main/java/DNAnalyzer/DNAAnalysis.java
  src/main/java/DNAnalyzer/Properties.java
  src/test/java/DNAnalyzer/DNAAnalysisTest.java
Labels: enhancement

#292 Undocumented declaration found
  src/main/java/DNAnalyzer/codon/CodonFrame.java
Labels: documentation, help wanted, good first issue

#287 Refactoring #276
  src/main/java/DNAnalyzer/aminoAcid/AminoAcid.java
  src/main/java/DNAnalyzer/codon/CodonDataConstants.java
  src/main/java/DNAnalyzer/codon/CodonDataUtils.java
Labels: good first issue

#286 Feature/add javafx gui #121
  .classpath
  README.md
  build.gradle
  src/main/java/DNAnalyzer/BasePairCounter.java
  src/main/java/DNAnalyzer/CmdArgs.java
  src/main/java/DNAnalyzer/DNAAnalysis.java
  src/main/java/DNAnalyzer/Properties.java
  src/main/java/DNAnalyzer/ReadingFrames.java
  src/main/java/DNAnalyzer/Utils.java
  src/main/java/DNAnalyzer/aminoAcid/AminoAcid.java
  src/main/java/DNAnalyzer/codon/CodonDataConstants.java
  src/main/java/DNAnalyzer/gui/DNAnalyzerGUI.java
  src/main/java/DNAnalyzer/gui/DNAnalyzerGUIFXMLController.java
  src/main/java/DNAnalyzer/protein/ProteinAnalysis.java
  src/main/resources/DNAnalyzer/gui/fxml/DNAnalyzerGUI.fxml
  src/test/java/DNAnalyzer/CodonDataUtilsTest.java
  src/test/java/DNAnalyzer/DNAAnalysisTest.java
Labels: documentation, enhancement

#304 Updating correct wording for feature
  README.md
Labels: documentation, good first issue
